html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  color: #;
  font-weight: 100;
  background-color: #;
}

.container {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  justify-content: flex-start;
}


/* NAVIGATION */

nav {
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-color: orange;
  height: 100%; /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    /*background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,200,0,0.5), rgba(255,153,0,1));
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,200,0,0.5), rgba(255,153,0,1));
    background: linear-gradient(rgba(255,255,255,0), rgba(255,200,0,0.5), rgba(255,153,0,1)); /* Standard syntax (must be last) */
  align-self: stretch;

  position: fixed;
  left: 0;
  top: 0;

}

nav ul li {
  list-style: none;
  padding-right: 40px;
  text-align: right;
}

nav ul li a{
  text-decoration: none;
}

#top-nav {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-decoration: none;
}


.main {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;

}

h1, h3 {
  animation-duration: 3s;
  animation-name: fade-in;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#pizzasticker {
  height: 10%;
  width: 10%;
  margin: auto;
  animation: roll 10s infinite alternate;
  transform: rotate(360deg);

}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


#sticky-footer {
  display: flex;
  height: 10%;
  background-color: orange;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#web-frame {
  display: flex;
  flex-direction: row;
}

  /* TEMPERATURE */
  padding-left: 40px;
}

/**** HEADER ****/


/* Footer */


/* Navigation Menu */




/* About Me */

/* Featured Work */
