<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Oxygen" rel="stylesheet">
  <link rel="stylesheet" href="/css/main_css_file.css">
</head>


<body>
  <div class="wrapper">
    <!-- <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    </div> -->
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/portfolio">Portfolio</a></li> -->
        <li><a href="/blog">Blog</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->

      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div>
  </div>
</body>

</html>
